* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
:root {
    --primary-01: #07270e; 
    --secondary-01: #d8e2da;
    --dark-087: rgba(0,0,0,0.87);
    --dark-054: rgba(0,0,0,0.54);
    --dark-026: rgba(0,0,0,0.26);
    --dark-012: rgba(0,0,0,0.12);
    --light-100: rgba(255,255,255,1.00);
    --light-070: rgba(255,255,255,0.70);
    --light-030: rgba(255,255,255,0.30);
    --light-012: rgba(255,255,255,0.12);
    --gray-010: #f1f1f1;
    --gray-020: #e4e4e4;

    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-feature-settings: "palt";
    font-size: 16pt;
}
.global-nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
	
}
.global-nav h1 a{
    font-size: 1.5rem;
    font-family: 'impact', sans-serif;
    margin-left: 1rem;
    color: var(--primary-01);
    text-shadow: 1px 1px 0 var(--dark-026);
	letter-spacing: 2px;
	text-decoration: none;
}
.global-nav .menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.global-nav .menu ul a{
    color: var(--primary-050);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-size: 1.125rem;
    padding: calc(1.25rem - 4px) 2rem;
    transition: color background-color 0.3s;
    border-right: 1px solid var(--dark-012);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.global-nav .menu ul a:hover {
    background-color: var(--primary-01);
    color: var(--secondary-01);
    border-bottom: 4px solid var(--secondary-01);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}



#sec1 {
    /*background-image: url("01.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: var(m1);
	
}
#sec2 iframe{
    width: 100%;
    height: 100%;
}
.ga h3{
    font-size: 2rem;
    text-align: center;
}
.ga-c{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.ga-item{
    height: 400px;
    width: 320px;
    border: #888 1px solid;
	margin: 0 50px;
}
.ga-item .ga-img{
    height: 180px;
    width: 320;
    background-color:#ccc ;
    margin: 0 ;
    padding: 0;
    border-bottom: #888 1px solid;
}
.ga-item h4{
    font-size: 1.7rem;
    color: #999;
    margin: 0;
    padding: 0.5rem;
    letter-spacing: 0.05em;
}
.ga-item p{
    font-size: 1rem;
    color: #999;
    margin: 0;
    padding: 0.5rem;
    letter-spacing: 0.05em;
}
#sec3 iframe{
    width: 100%;
    height: 100%;
}